@model BlogProject1.EntityLayer.Concrete.Category
@{
    ViewData["Title"] = "EditCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Kategori Düzenlenme Sayfası</h1>

@using (Html.BeginForm("EditCategory", "Category", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-description"> Deneyim Düzenleme Paneli </p>
                <form class="forms-sample">
                    <div class="form-group">
                        <label>ID</label>
                        @Html.TextBoxFor(x => x.CategoryID, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Kategori Başlığı</label>
                        @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Tarih</label>
                        @Html.TextBoxFor(x => x.CategoryDescription, new { @class = "form-control" })
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                    <button class="btn btn-dark">İptal</button>
                </form>
            </div>
        </div>
    </div>
}

