@using BlogProject1.EntityLayer.Concrete
@model List<CancerAbout>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}

<!DOCTYPE html>
<html lang="zxx">
<body>
    <!--//banner-->
    <!--/main-->
    <section class="main-content-w3layouts-agileits">
        <div class="container">
            <h3 class="tittle">MEME KANSERİ</h3>
            <div class="row inner-sec">
                <!--left-->
                <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
                    <div class="blog-grid-top">

                        <div class="blog_info_left_grid">
                            <a href="single.html">
                                <img src="~/CoreBlogTema/images/b5.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                        @foreach (var item in Model)
                        {
                            <h3> @item.CancerAboutHead1 </h3>
                            <p>
                                @item.CancerAboutDetails1
                            </p>
                        }
                        @*<a href="single.html" class="btn btn-primary read-m">Read More</a>*@
                    </div>

                </div>
                <!--//left-->
                <!--right-->
                <aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
                    <div class="right-blog-info text-left">
                        @await Html.PartialAsync("~/Views/NewsLetter/SubscribeMail.cshtml")
                        @await Html.PartialAsync("~/Views/About/SocaialMediaAbout.cshtml")
                    </div>
                </aside>
                <!--//right-->
            </div>
        </div>
    </section>
    <!--//main-->
    <!--footer-->

</body>

</html>

