<div class="blog-grid-top">
    <div class="b-grid-top">
        <div class="blog_info_left_grid">
            <a href="single.html">
                <img src="~/HomePageBanner/meme-kanseri-mediaflex-ajans-2.jpg" class="img-fluid" alt="">
            </a>
        </div>
        <div class="blog-info-middle">
            <ul>
                <li>
                    <a href="#">
                        <i class="far fa-calendar-alt"></i> 1 HAZİRAN,2023
                    </a>
                </li>
                <li class="mx-2">
                    <a href="#">
                        <i class="far fa-thumbs-up"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="far fa-comment"></i>
                    </a>
                </li>

            </ul>
        </div>
    </div>

    <h3>
        <a href="single.html">Meme Kanseri </a>
    </h3>
    <p>
        Meme kanseri kadınlarda görülen kanser tipleri arasında birinci sırada yer almaktadır. 
        Hayat boyu her 8 kadından birinin kansere yakalanma riski vardır. Meme kanseri, 
        meme dokusundaki hücrelerden gelişen kanserlerdir.Meme dokusunun herhangi bir yerinden kaynaklanabilir. 
        En sık görülen tipi; meme kanallarından kaynaklanan “duktal” kanser denen kanserlerdir. 
        Süt üreten bezlerden köken alan “lobüler” kanserler de sık görülür. Ayrıca diğer 
        dokulardan kaynaklanan daha nadir medüller, tübüler, müsinöz gibi tipleri de vardır.
    </p>
    <a href="/About/Index" class="btn btn-primary read-m">Read More</a>
</div>